/* FAQSection.css */
.faq-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding : 100px 200px;
    
  }
  
  @media (min-width: 768px) {
    .faq-container {
      flex-direction: row;
    }
  }
  
  .faq-image-container {
    width: 100%;
  }
  
  .faq-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq-content {
    width: 100%;
  }
  
  .faq-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 50px;
    color: white;
    line-height: 58px;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .faq-item {
    background: linear-gradient(to bottom right, #151515 0%, #222325 22%, rgba(65, 65, 65, 0.125) 100%, #AFAFAF 100%);    color: white;
    padding: 0px 20px ;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(255, 255, 255, 1.0);

  }
  
  
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  