@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

.process-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    
}

.process-heading {
    font-size: 60px;
    color: white;
    margin-bottom: 40px;
}

.process-heading-span {
    font-family: 'Playwrite US Modern', sans-serif;
}

.process-heading-span ::after{
        content: "";
        position: absolute;
        bottom: 5px; /* Adjusts the line position */
        width: 25px; /* Adjust width as needed */
        height: 3px; /* Thickness of the underline */
        background-color: #ffcc66; /* Line color */
}

/* Process Content Layout */
.process-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/* Points Section */
.points-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Process Card - Rectangle */
.process-card {
    position: relative;
    width: 350px; /* Rectangle width */
    height: 150px; /* Rectangle height */
    background-color: transparent; /* Light overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

/* Process Number Position */
.process-number {
    font-size: 150px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1); /* Light Background Effect */
    position: relative;
    z-index: 1;
}

/* Positioning 01 on Left Upper Corner */
.top-left {
    top: -40px;
    left: -80px;
}

/* Positioning 04 on Right Upper Corner */
.top-right {
    top: -40px;
    right: -80px;
}

/* Process Text - Heading & Description */
.process-text {
    font-size: 35px;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 2; /* Ensures text is above number */
    text-align: center;
    margin-top: 100px;
    
}

/* Process Description */
.process-description {
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
}

/* GIF Section */
.gif-section img {
    width: 500px;
    height: auto;
}
