@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');/* Footer Container */

.footer {
    background-color: #191A1B;
    padding: 50px 0;
    text-align: center;
    background-image: url('../../assets/123.png') ;
    background-size: cover;
    background-position: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

/* Left Image */
.footer-left {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-left-image {
    width: 300px; /* Adjust size as needed */
}

/* Center Content */
.footer-center {
    flex: 2;
    text-align: center;
}

.footer-lorem {
    font-size: 24px;
    color: white;
    opacity: 0.8;
    margin-bottom: 10px;
    font-family: 'Playwrite US Modern', sans-serif;
}

.footer-title {
    font-size: 58px;
    font-weight: 600;
    color: white;
    line-height: 60px;
    margin-bottom: 20px;
}

/* Icons */
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.icon-circle:hover {
    border-color: #FFCC66;
}

.icon {
    color: white;
    font-size: 20px;
}

/* Right Image */
.footer-right {
    
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer-right-image {
    width: 350px; /* Adjust size as needed */
}

/* Bottom Section */
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers content horizontally */
    justify-content: center;  /* Centers content vertically */
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    height: 60px;
    margin-bottom: -30px;
}

.footer-divider {
    width: 80%;
    height: 1px;
    background: white;
    opacity: 0.5;
    margin-bottom: 10px;
}

.footer-copyright {
    font-size: 14px;
    color: white;
    opacity: 0.8;
}

.footer-copyright span {
    font-size: 14px;
    color: #FFCC66;
    opacity: 0.8;
}

