@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

:root {
  font-family: 'Parkinsans', sans-serif;
}

body {
  margin: 0;
  
}
